In [3]:
import pandas as pd
import nltk
import sklearn
import string
import re
# nltk.download('punkt')
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics,pipeline,feature_extraction, model_selection, naive_bayes, pipeline, manifold, preprocessing

In [4]:
df=pd.read_excel('comments.xlsx')

In [5]:
df.head()

,Comment,opinion,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,যাত্রার অবিশ্বাস্য সূচনা মাত্র,0.0,NaN,NaN,NaN
1,দ্বিতীয় টেস্টে নিউজিল্যান্ডকে ৩৭২ রানে পরাজিত ...,2.0,NaN,NaN,NaN
2,একেই বলে স্বপ্নের অভিষেক!,2.0,NaN,NaN,NaN
3,দেশের মাটিতে শেষ পাঁচটি টেস্ট ইনিংসে চারটি হাফ...,2.0,NaN,NaN,NaN
4,ভারত তথা বিশ্বের সর্বশ্রেষ্ঠ অল-রাউন্ডারদের মধ...,2.0,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Comment     2004 non-null   object
 1   opinion     1946 non-null   float64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   Unnamed: 4  1 non-null      float64
dtypes: float64(4), object(1)
memory usage: 78.4+ KB